<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
    	<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %level{length=5} %c{1} - %m\n"/>
    </Console>
    <File name="File" fileName="${sys:kfhuCTPdas}">
    	<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %level{length=5} %c{1} - %m\n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>